FLASK_SECRET_KEY=change-this-in-real-deployment
FLASK_JWT_SECRET_KEY=change-this-jwt-secret-in-real-deployment
DATABASE_URL=sqlite:///../workshop.db
FLASK_ENV=development
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_DAYS=1
ADMIN_USERNAME=workshop-admin
ADMIN_PASSWORD=ChangeThisToALongRandomValue!2026
